*{
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
}
body{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
}
span{
  position:relative;
  color:#fff;
  font-size: 80px;
  font-weight: 300;
}


#timer{
  position: relative;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
  display:flex;
  justify-content: center;
  align-items: center;
}
#timer::before{
  content: '';
  position:absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #282828;
}